@font-face {
  font-family: "Frutiger";
  src: url("../Varios/Frutiger_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero_imagen {
  background-image: url("../Imagenes/Hero_1.jpg");
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: top 5% center;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero_texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    font-size: 45px;
    color: white;
  }
  & h4 {
    font-size: 36px;
    color: white;
  }
  & h1 {
    font-size: 54px;
    color: rgb(182, 21, 21);
    font-family: "Frutiger";
  }

  & h2:hover,
  h4:hover {
    color: black;
  }
  & h1:hover {
    color: black;
    background-color: white;
    padding: 0 4px;
    cursor: none;
  }
}

/*media para tablet */
@media (max-width: 992px) {
  .hero_imagen {
    background-image: url("../Imagenes/Hero_Tablet.jpg");
    align-items: flex-start;
  }
  .hero_texto {
    width: 100%;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    & h2,
    h4 {
      color: black;
    }
    & h2:hover,
    h4:hover {
      color: white;
    }
  }
}

/*media para telefonos */
@media (max-width: 576px) {
  .hero_imagen {
    background-image: url("../Imagenes/Hero_telefonos.jpg");
    align-items: flex-start;
  }
  .hero_texto {
    margin-top: 20vh;
    width: 100%;
    justify-content: center;
    & h2 {
      text-align: center;
      font-size: 28px;
      color: white;
    }
    & h4 {
      font-size: 20px;
      color: white;
    }
    & h1 {
      text-align: center;
      font-size: 35px;
    }
  }
}
